.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-title {
  font-size: 100px;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.card {
  background-color: #a6e3e9;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-description {
  max-width: 30em;
}